main {
  min-height: 85vh;
}

a {
  color: #073642;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.6;
}

.fa-envelope,
.fa-github-square,
.fa-linkedin {
  font-size: 25px;
  color: #2aa198;
}
