main {
  min-height: 85vh;
}

a,
i.fa-trash {
  color: #073642;
  text-decoration: none !important;
}

a:hover,
i.fa-trash:hover {
  opacity: 0.7;
  text-shadow: 3px 3px 6px #000;
}

.fa-envelope,
.fa-github-square,
.fa-linkedin {
  font-size: 25px;
  color: #2aa198;
}

.home {
  color: RGB(181, 137, 0);
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.word.reversed {
  --rotate-y: 180deg;
}

.word .front,
.word .back {
  position: absolute;
  backface-visibility: hidden;
}

.word .back {
  transform: rotateY(180deg);
}
